/*global*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin:0;
    padding: 0;
}
p,h1,h2,h3{
    margin:0;
    padding: 0;
}
p{
    line-height: 1.6
}

.container{
    width: 85%;
    margin: auto;
}

/*topline*/

.topline{
    background: #1a73e8;
    color: white;
    padding:15px 0;
    font-size: 14px;
    text-align: center;
}

/*header*/
header{
    padding-top: 20px;
}
header .container{
    display: grid;
    grid-template-columns: 40% 60%;
}
header nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
header nav a{
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
    
}
header .left_menu{
    display: flex;
    align-items: flex-end;
    font-size: 21px;
    font-weight: bold  
}
.left_menu a{
    text-decoration: none
}
header .left_menu a{
   color: black;
}
header .left_menu .oddmenu{
    padding-left: 20px;
    margin-left: 10px;
    border-left: 1px solid blue;
}
header nav div{
    padding-left:20px
}
.brand{
    width: 40px;
    padding-right: 10px;
}
#accounticon{
    width: 30px;
}
.dropmenu{
    position: relative;
}
.dropdown{
    position: absolute;
    top: 35px;
    left: -30px;
    background: white;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
}
.dropdown a{
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    
}